package cn.itlaobing.eshop.entity;

import java.util.Date;

/**
* Created by Administrator on 2017/11/3 0003.
*/
public class ${entityClassName} {

#foreach( $field in $fieldList )
    private ${field.javaType} ${field.filedName} ; // ${field.comment}
#end

#foreach( $field in $fieldList )
    public ${field.javaType} get${field.filedName}() {
        return ${field.filedName};
    }
    public void set${field.filedName}(${field.javaType} ${field.filedName}) {
        this.${field.filedName} = ${field.filedName};
    }
#end

}
